{% extends 'base.html' %}
{% block title %}
  Профайл пользователя {{ post.author.get_full_name }}
{% endblock %}
{% block content %}
      <div class="container py-5">
        <h1>Все посты пользователя {{ post.author.get_full_name }} </h1>
        <h3>Всего постов: {{ post.author.posts.count }} </h3>
        <article>
          <ul>
            <li>
              Автор: {{ post.author.get_full_name }}
              <a href="{% url 'posts:post_detail' %}">все посты пользователя</a>
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
          <p>
            {{ post.text|truncatewords:30 }}
          </p>
          <a href="<{% url 'posts:post_detail' %}>">подробная информация </a>
        </article>
          {% if post.group.slug is not None %}
            <a href="{% url 'posts:posts_group' post.group.slug %}">все записи группы</a>
          {% endif %}
        <hr>
      </div>
  {% endblock %}
